In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("same-sex-marriage-recognition.csv")

In [5]:
df

             Entity Code  Year  Same sex marriage and civil unions legal
0       Afghanistan  AFG  2020  Same-sex marriage not legally recognized
1           Albania  ALB  2020  Same-sex marriage not legally recognized
2           Algeria  DZA  2020  Same-sex marriage not legally recognized
3    American Samoa  ASM  2020  Same-sex marriage not legally recognized
4           Andorra  AND  2005           Some rights to same-sex couples
..              ...  ...   ...                                       ...
219       West Bank  NaN  2020  Same-sex marriage not legally recognized
220  Western Sahara  ESH  2020  Same-sex marriage not legally recognized
221           Yemen  YEM  2020  Same-sex marriage not legally recognized
222          Zambia  ZMB  2020  Same-sex marriage not legally recognized
223        Zimbabwe  ZWE  2020  Same-sex marriage not legally recognized

[224 rows x 4 columns]

Na célula a está sendo feita a substituição dos valores em string para inteiros para facilitar a leitura dos dados nas próximas operações

In [6]:
df = df.replace("Same-sex marriage not legally recognized", value=1)
df = df.replace("Some rights to same-sex couples", value=2)
df = df.replace("Same-sex marriage legal", value=3)
df = df.replace("Same-sex marriage legal in some jurisdictions", value=4)

df

             Entity Code  Year  Same sex marriage and civil unions legal
0       Afghanistan  AFG  2020                                         1
1           Albania  ALB  2020                                         1
2           Algeria  DZA  2020                                         1
3    American Samoa  ASM  2020                                         1
4           Andorra  AND  2005                                         2
..              ...  ...   ...                                       ...
219       West Bank  NaN  2020                                         1
220  Western Sahara  ESH  2020                                         1
221           Yemen  YEM  2020                                         1
222          Zambia  ZMB  2020                                         1
223        Zimbabwe  ZWE  2020                                         1

[224 rows x 4 columns]

Checar se existem valores NaN

In [7]:
df1 = df[df.isna().any(axis=1)]
df1

               Entity Code  Year  Same sex marriage and civil unions legal
147  Northern Ireland  NaN  2019                                         3
174          Scotland  NaN  2014                                         3
219         West Bank  NaN  2020                                         1

Como os valores NaN estão na coluna "Code" que não será usada nessa análise, decidi não excluir esses países da base.

Quantidade e agrupamento dos países em que o casamento entre pessoas do mesmo sexo é ilegal:

In [8]:
df1 = df.loc[df['Same sex marriage and civil unions legal'] <= 2]
print(len(df1), "países")
print(df1)

192 países
             Entity Code  Year  Same sex marriage and civil unions legal
0       Afghanistan  AFG  2020                                         1
1           Albania  ALB  2020                                         1
2           Algeria  DZA  2020                                         1
3    American Samoa  ASM  2020                                         1
4           Andorra  AND  2005                                         2
..              ...  ...   ...                                       ...
219       West Bank  NaN  2020                                         1
220  Western Sahara  ESH  2020                                         1
221           Yemen  YEM  2020                                         1
222          Zambia  ZMB  2020                                         1
223        Zimbabwe  ZWE  2020                                         1

[192 rows x 4 columns]

Quantidade e agrupamento dos países em que o casamento entre pessoas do mesmo sexo é permitido:

In [9]:
df1 = df.loc[df['Same sex marriage and civil unions legal'] == 3]
print(len(df1), "países")
print(df1)

31 países
               Entity Code  Year  Same sex marriage and civil unions legal
7           Argentina  ARG  2010                                         3
10          Australia  AUS  2017                                         3
11            Austria  AUT  2019                                         3
18            Belgium  BEL  2003                                         3
26             Brazil  BRA  2013                                         3
34             Canada  CAN  2005                                         3
42           Colombia  COL  2016                                         3
45         Costa Rica  CRI  2020                                         3
53            Denmark  DNK  2012                                         3
57            Ecuador  ECU  2019                                         3
67            Finland  FIN  2015                                         3
68             France  FRA  2013                                         3
75            Germany  DEU  2017                                         3
79          Greenland  GRL  2015                                         3
90            Iceland  ISL  2010                                         3
95            Ireland  IRL  2015                                         3
116        Luxembourg  LUX  2014                                         3
123             Malta  MLT  2017                                         3
139       Netherlands  NLD  2000                                         3
141       New Zealand  NZL  2013                                         3
147  Northern Ireland  NaN  2019                                         3
149            Norway  NOR  2008                                         3
160          Portugal  PRT  2010                                         3
174          Scotland  NaN  2014                                         3
185      South Africa  ZAF  2006                                         3
188             Spain  ESP  2005                                         3
192            Sweden  SWE  2009                                         3
195            Taiwan  TWN  2019                                         3
211    United Kingdom  GBR  2013                                         3
212     United States  USA  2015                                         3
214           Uruguay  URY  2013                                         3

10 primeiros países a legalizar a união entre pessoas de mesmo sexo:

In [10]:
df1 = df.loc[df['Same sex marriage and civil unions legal'] == 3]
df1.nsmallest(10, columns='Year', keep='all')

           Entity Code  Year  Same sex marriage and civil unions legal
139   Netherlands  NLD  2000                                         3
18        Belgium  BEL  2003                                         3
34         Canada  CAN  2005                                         3
188         Spain  ESP  2005                                         3
185  South Africa  ZAF  2006                                         3
149        Norway  NOR  2008                                         3
192        Sweden  SWE  2009                                         3
7       Argentina  ARG  2010                                         3
90        Iceland  ISL  2010                                         3
160      Portugal  PRT  2010                                         3

10 últimos países a legalizar a união entre pessoas de mesmo sexo (dados até 2020):

In [11]:
df1 = df.loc[df['Same sex marriage and civil unions legal'] == 3]
df1.nlargest(10, columns='Year', keep='all')

               Entity Code  Year  Same sex marriage and civil unions legal
45         Costa Rica  CRI  2020                                         3
11            Austria  AUT  2019                                         3
57            Ecuador  ECU  2019                                         3
147  Northern Ireland  NaN  2019                                         3
195            Taiwan  TWN  2019                                         3
10          Australia  AUS  2017                                         3
75            Germany  DEU  2017                                         3
123             Malta  MLT  2017                                         3
42           Colombia  COL  2016                                         3
67            Finland  FIN  2015                                         3
79          Greenland  GRL  2015                                         3
95            Ireland  IRL  2015                                         3
212     United States  USA  2015                                         3

No Brasil foi legalizado em 2013

In [12]:
df.loc[df['Entity'] == 'Brazil']

    Entity Code  Year  Same sex marriage and civil unions legal
26  Brazil  BRA  2013                                         3

Ano médio da legalização do casamento entre pessoas do mesmo sexo

In [28]:
df1 = df.groupby(['Same sex marriage and civil unions legal'])
df2 = df1.get_group(3)
mean = df2['Year'].mean()
print(mean)

2012.7096774193549